:root{
    --bg-color:#0b1026;
    --text-primary:#ffffff;
    --text-secondary:#8c97b8;
    --grid-bg:rgba(22,30,68,0.6);
    --grid-border:#263368;
    --cell-bg:#1b244a;
    --box-bg:#12193b;
    --btn-bg:##1d254a;
}
body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:radial-gradient(circle at center ,#151d45 0%,#050814 100%);
    font-family:'Roboto','sans-serif';
    color:var(--text-primary);
}
.game-container{
    width:100%;
    max-width:420px;
    padding:20px;
    box-sizing:border-box;

}
header{
    margin-bottom:20px;

}
.tittle{
    font-family:'Orbitron','sans-seerif';
    font-size:2.5rem;
    font-weight:700;
    margin:0 0 5px 0;
    text-transform:uppercase;
    letter-spacing:1px;
    text-shadow:0 0 10px rgba(255,255,255,0.3);
}
.subtittle{
    color:var(--text-secondary);
    margin:0;
    font-size:0.9rem;
}
.grid-container{
    background-color:var(--grid-bg);
    border:1px solid var(--grid-border);
    border-radius:12px;
    padding:10px;
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    margin-bottom:25px;
    box-shadow:inset 0 0 20px rgba(00,0,0,0.2);
}
.grid-cell
{
    background-color:var(--cel-bg);
    border-radius:8px;
    aspect-ratio:1/1;
    border:2px solid var(--grid-border);
    box-shadow:inset 0 0 10px rgba(0,0,0,0.1);
}
footer{
    text-align:center;
}